{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

  <style>
  html {
    margin: 15px auto;
    width: 600px;
    background-color: #f8f8f8;
    color: black;
  }

  .content {
    background: white;
    border-radius: 4px;
  }

  .content>p {
    padding-left: 10px;
    padding-right: 10px;
  }
  .content>form {
    padding: 10px;
    padding-top: 0;
  }

  .header {
    width: 100%;
    background: #417690;
    height: 50px;
    color: white;
    text-align: center;
  }
  h2 {
    padding-top: 10px;
    font-weight: 100;
  }

  * {
    font-family: "Roboto","Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
  }

  input[type=text], input[type=password] {
    display: inline-block;
    color: black;
    padding: 10px;
    width: 250px;
    box-sizing: border-box;
    background-color: white;
    border-width: 1px;
    border-color: black;
    border-radius: 2px;
    margin: 10px auto;
    margin-right: 300px;
    margin-left: 1px;
    transition:background-color 0.5s ease;
  }


  input[type=submit] {
    background: #79aec8;
    color: white;
    border-radius: 4px;
    display: block;
    width:90px;
    margin-top:15px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    padding: 5px;
    font-size: 1.1em;
    cursor: pointer;
  }

  ul {
    font-size: 12px;
    margin-top: -10px;
  }

  .errorlist{
    color: red
  }
  </style>

  <hr>

  {% if validlink %}
  <div class="content">
    <div class="header">
      <h2>Reset Password</h2>
    </div>
    <p>Please enter your new password twice so we can verify you typed it in correctly.</p>

    <form action="" method="post">{% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="OK"/>
    </form>
  </div>
  {% else %}
    <p>The password reset link is invalid, possibly because it has already been used. Please request a new password
      reset.</p>
  {% endif %}

{% endblock %}
