{% extends 'email/email_base.html' %}
{% block caption %}
    <p class="heading">Hi, {{ user.get_full_name }}</p>
{% endblock %}
{% block content %}
    <p>We have received a request to reset your password. Please click the following link to reset your password.<br>
    </p>
{% endblock %}
{% block link %}
    <a href="{{ settings.BACKEND_URL }}{{ user.get_password_reset_url }}" style="font-size:12px; font-family: Lato, sans-serif;
    text-decoration: none; line-height:1.0; letter-spacing: 3px; display:inline-block">
        <p style="text-align: center; color: #FFFFFF">
            RESET PASSWORD
        </p>
    </a>
{% endblock %}
{% block empty %}
{% endblock %}
